<table>
    <p><a href="<%= home %>" class="btn btn-primary" role="button">Home</a></p>
    <tr>
        <th>Country Code</th>
        <th>Country Name</th>
        

    </tr>
    <% countries.forEach((country) => { %>
    <tr>
    <td><%=country.co_code%></td>
    <td><%=country.co_name%></td>
   <td><a href="<%= countryDetail+country.co_code %>"><input type="submit" value="Details"  class="btn btn-primary" ></input></a></td>
   <td><a href="<%= update+country.co_code %>" ><input type="submit" class="btn btn-primary" value="Update"></input></a></td>
   <td><a href="<%= delte+country.co_code %>"><input type="submit" value="Delete" class="btn btn-primary"></input></a></td>
</tr>  
<%})%>
<tr><a href="<%= add %>" class="btn btn-primary" role="button">Add country</a></tr>
</table>

