<!--Shows all detaisl on a single city-->
<table cellpadding="5" cellspacing="2" border="3px solid purple"> 
    <tr>
        <td>
            <p><a href="<%= home %>" class="btn btn-primary" role="button"><input type="button" value="Home"></a></p>
        </td>
    </tr>
    <tr>
        
        <th>cty_code</th>
        <th>co_code</th>
        <th>cty_name</th>
        <th>population</th>
        <th>isCoastal</th>
        <th>areaKM</th>
    </tr>
    <% cities.forEach((city) => { %>
    <tr>

    <td><%=city.cty_code%></td>
    <td><%=city.co_code%></td>
    <td><%=city.cty_name%></td>
    <td><%=city.population%></td>
    <td><%=city.isCoastal%></td>
    <td><%=city.areaKM%></td>


</tr>
<%})%>
</table>